<form [formGroup]="addPatient" (ngSubmit)="onSubmit()">
    <div class="row">
        <input type="text" placeholder="Patient Name*" formControlName="patientName">
        <input type="date" placeholder="Date*" formControlName="date">
        <input type="text" placeholder="Dignosis" formControlName="dignosis">

        <input type="text" placeholder="Refered by Dr." formControlName="referedDr">
    </div>
    <div class="form-error" *ngIf="patientName.invalid && patientName.touched">
        <small *ngIf="patientName.errors?.required" class="text-danger">Patient Name is Required.</small>
    </div>
    <div class="form-error" *ngIf="date.invalid && date.touched">
        <small *ngIf="date.errors?.required" class="text-danger">Date is Required.</small>
    </div>

    <div class="row">
        <input type="number" placeholder="Age" formControlName="age">
        <select formControlName="gender" aria-placeholder="gender">
            <option selected="default">Gender</option>
            <option>Male</option>
            <option>Female</option>
        </select>
        <input type="number" placeholder="Weight" formControlName="weigth">
        <input type="number" placeholder="Fees*" formControlName="fees">
        <input type="text" placeholder="Email" formControlName="email">
    </div>
    <div class="form-error" *ngIf="fees.invalid && fees.touched">
        <small *ngIf="fees.errors?.required" class="text-danger">Fees is Required.</small>
    </div>
    <div class="row">
        <textarea placeholder="Treatment*" formControlName="treatment"></textarea>
        <textarea placeholder="Ergonomic Advice" formControlName="eAdvice"></textarea>
    </div>
    <div class="form-error" *ngIf="treatment.invalid && treatment.touched">
        <small *ngIf="treatment.errors?.required" class="text-danger">Treatment is Required.</small>
    </div>
    <div class="row">
        <div class="sign-pad">
            <signature-pad #signatureCanvas [options]="signaturePadOptions" id="signatureCanvas"
                (onBeginEvent)="drawStart()" (onEndEvent)="drawComplete()"> </signature-pad>
        </div>
    </div>
    <!-- <button class="button" type="submit" (click)="clearPad()">Clear Sign</button> -->
    <div style="text-align: center;">
        <button class="button" type="submit" [disabled]='!addPatient.valid'>Add Patient</button>
    </div>
</form>