
.header-logo{
  
    margin-top: 5px;
}
.logo img{
    width: 110px;
}
.card{
    width: 400px;    
    margin-top: 35%;
   
}
.card-header{
    background-color: cornflowerblue !important;
    color:white;
    font-family: 'sans-serif';
    
}
.mail{
    margin-top: 20px;
    border-radius: 25px;
}
.signin{
    border-radius: 25px;
}