<!-- Material form login -->
<div class="container-fluid">

  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="card">

        <h5 class="card-header info-color white-text text-center py-4">
          <strong>Admin Login</strong>
        </h5>

        <!--Card content-->
        <div class="card-body px-lg-5 pt-0">

          <!-- Form -->
          <form class="text-center" style="color: #757575;" action="#!" [formGroup]="loginForm" (ngSubmit)="onSubmit()">

            <!-- Email -->
            <div class="md-form">
              <input type="email" formControlName="Email" placeholder="Email"
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" class="form-control mail">
              <div *ngIf="Email.invalid && Email.touched">
                <small *ngIf="Email.errors?.required" class="text-danger">Email is Required.</small>
                <small *ngIf="Email.errors?.pattern" class="text-danger">Email is not in correct pattern.</small>
              </div>
            </div>

            <!-- Password -->
            <div class="md-form">
              <input type="password" id="password" class="form-control mail" placeholder="Password"
                formControlName="Password">
              <div *ngIf=" Password.invalid && Password.touched">
                <small *ngIf="Password.errors?.required" class="text-danger">Password is required</small>
                <small *ngIf="Password.errors?.minlength" class="text-danger">Password length must be 8</small>
                <small *ngIf="Password.errors?.maxlength" class="text-danger">Password length must be less than
                  20</small>
              </div>
            </div>

            <!-- Sign in button -->
            <button [disabled]='!loginForm.valid'
              class="button" type="submit">Sign
              in</button>


          </form>
          <!-- Form -->

        </div>

      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
<!-- Material form login -->