.main-menu {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    padding: 12px 20px;
    background-image: -webkit-linear-gradient(0deg, #e600c7 0%, #105ad1 100%);
}

.align-items-center {
    align-items: center !important;
}

.justify-content-between {
    justify-content: space-between !important;
}

.d-flex {
    display: flex !important;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.nav-menu, .nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-menu>li {
    margin-left: 10px;
}
.nav-menu>li {
    float: left;
}

.nav-menu a {
    padding: 0 8px 0px 8px;
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    outline: none;
}

@media (max-width: 1200px){
.container {
    max-width: 1140px;
}
}

.container {
    width: 100%;
}

.header{
padding: 0px 0px 24px 0px;
position: fixed;
left: 0;
top: 0;
right: 0;
transition: all 0.5s;
z-index: 997;
background-color: #fff;
}

.top-logo{
    width: 451px;
}

.logo-name{
    font-size: x-large;
    font-weight: bold;
}

.header-top-right{
    padding-left: 15%;
}



@media (max-width: 850px){
.header .header-top-right .btns {
    display: none;
}

.nav-menu>li {
    margin-left: 27px;
}
.top-logo{
    width: 310px;
}
.header .header-top-right .icons-three {
    display: none;
}

.header .header-top-right .space{
    padding-left: 55%;
    margin-top: -6%;
    position: absolute;
    font-size: 20px;
}

.smallscreen-top{
    margin-top: 2%;
}

}

@media(max-width: 991px){
    .header .header-top-right .btns {
        display: none;
    }

    .header .header-top-right .space {
        margin-left: 8%;
        
    }

    .main-menu{
        display: none;
    }
  }


  @media(min-width: 992px){
    .header-top-right{
        padding-left: 29%;
    }

    .header .header-top-right .icons {
        display: none;
    }

    .header .header-top-right .icons-three {
        display: none;
    }
}


body.mobile-nav-active{
    overflow: hidden;
}
body.mobile-nav-active #mobile-nav {
    left: 0;
}

#mobile-nav {
    position: fixed;
    top: 0;
    padding-top: 18px;
    bottom: 0;
    z-index: 998;
    background: rgba(0,0,0,0.8);
    width: 260px;
    overflow-y: auto;
    transition: 0.4s;
}

#mobile-nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}


#mobile-nav ul li a {
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    overflow: hidden;
    padding: 10px 22px 10px 15px;
    position: relative;
    text-decoration: none;
    width: 100%;
    display: block;
    outline: none;
    font-weight: 700;
}


#mobile-body-overly {
    width: 100%;
    height: 100%;
    z-index: 996;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(0,0,0,0.7);
   
}