<div class="tab-container">
    <div class="tabs">
        <div class="tab" [ngClass]="{ selected: selected === 1 }" (click)="setSelected(1)">
            ADD PATIENT
        </div>
        <div class="tab" [ngClass]="{ selected: selected === 2 }" (click)="setSelected(2)">
            PATIENT HISTORY
        </div>
        <div class="tab" [ngClass]="{ selected: selected === 3 }" (click)="setSelected(3)">
            current outstanding
        </div>
        <div class="tab" [ngClass]="{ selected: selected === 4 }" (click)="setSelected(4)">
            short payments
        </div>
    </div>

    <div class="form">
        <div *ngIf="selected === 1">
            <div class="row">
                <input type="text" placeholder="Patient Name">
                <input type="date" placeholder="Date">
                <input type="text" placeholder="Dignosis">
                
                <input type="text" placeholder="Refered by Dr.">
                
               
               
            </div>
            <div class="row">
                <input type="number" placeholder="Age">
                <select>
                    <option selected="default">Gender</option>
                    <option>Male</option>
                    <option>Female</option>
                </select>
                <input type="number" placeholder="Weight">
                <input type="number" placeholder="Fees">
                <input type="text" placeholder="Email">
                
            </div>
            <div class="row">
                <textarea placeholder="Treatment"></textarea>
                <textarea placeholder="Ergonomic Advice"></textarea>
                
            </div>
            <div class="row">
                <div class="sign-pad">
                    <signature-pad [options]="signaturePadOptions" (onBeginEvent)="drawStart()" (onEndEvent)="drawComplete()"></signature-pad>
                </div>
            </div>
            <div style="text-align: center;">
                <button class="button">Add Patient</button>
            </div>
        </div>
    </div>
</div>