.tab-container{
margin-top: 13%;
padding: 0 112px;
}

.tab-container .tabs {
    display: flex;
  }
  
  .tab-container .tabs {
    background-color: #eeeeee;
    height: 38px;
  }
  
  .tab-container .tabs .tab {
    width: 22%;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    text-transform: uppercase;
  }
  
  .tab-container .tabs .tab.selected {
    background-color: #ffffff;
    border: 1px solid #aaa;
    border-bottom: none;
    /* border-top-right-radius: 5px;
    border-top-left-radius: 5px; */
    cursor: pointer;
    color: #37afe4;
  }
  
  .form{
    border: 1px solid black;
    margin-top: 3%;
  }
